:root {
  --bg: #f2fff5;
  --white: #ffffff;
  --green: #00cc2f;
  --light-green: #effcf2;
  --red: #ff0000;
  --light-red: #ffe1e1;
  --blue: #00aaff;
  --light-blue: #e1f5ff;
  --black: #000000;
  --grey: #95a5a6;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("./fonts/Recoleta-Medium.ttf");
  font-family: "Recoleta-Medium";
}

@font-face {
  src: url("./fonts/Recoleta-Light.ttf");
  font-family: "Recoleta-Light";
}
@font-face {
  src: url("./fonts/Recoleta-Bold.ttf");
  font-family: "Recoleta-Bold";
}
@font-face {
  src: url("./fonts/Recoleta-SemiBold.ttf");
  font-family: "Recoleta-Semi";
}
@font-face {
  src: url("./fonts/Recoleta-Regular.ttf");
  font-family: "Recoleta-Regular";
}

body {
  background: var(--bg);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Welcome {
  width: 100%;
  min-height: 300px;
  background: url("./images/head.svg") no-repeat center center/cover;
  color: var(--white);
  /* background-repeat: no-repeat;
  background-position: right 0px top 70%;
  background-size: 40%; */
  padding: 10px 0;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Recoleta-Semi";
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.Welcome .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Welcome .container h1 {
  font-size: 34px;
}
.Sidebar {
  width: 100%;
  flex: 0 0 10%;
  height: 100vh;
  background: var(--white);
}

.Sidebar .container {
  max-width: 90%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.List {
  width: 100%;
  height: 50px;
}

.List span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Body {
  background: var(--bg);
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Header {
  width: 100%;
  height: 90px;
  background: var(--white);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  display: flex;

  flex-direction: row;
}

.Settings {
  flex: 0 0 15%;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--black);
  cursor: pointer;
}

.Settings .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Search {
  flex: 1;
  width: 100%;
  height: 100%;
}

.Search .container {
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex: 1;
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 0 0 5%;
  width: 50px;
  border-bottom: 5px solid var(--green);
}
.profile img {
  width: 40px;
  height: 40px;
}

form input {
  height: 40px;
  width: 400px;
  background-image: url("./images/search.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 5px;
  background-size: 5%;
  padding: 10px 10px 10px 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

form input::placeholder {
  padding: 20px;
  font-family: "Recoleta-Medium";
  font-size: 15px;
  color: var(--grey);
}

.overview {
  width: 100%;
  min-height: 600px;
}

.overview .container {
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Title {
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 10px 0;
}

.Title h1 {
  font-family: "Recoleta-Semi";
  font-size: 36px;
}

.Title select {
  width: 150px;
  height: 52px;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("./images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 10px;
  background-size: 10%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Recoleta-Regular";
}

.Title select option {
  font-size: 14px;
  font-family: "Recoleta-Regular";
}
.Title select:active,
.Title select:hover {
  border-radius: 5px;
}

.Card {
  width: 100%;
  min-height: 400px;
  height: 100%;
}

.Card .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
  padding: 15px;
  height: 100%;
  width: 100%;
}

.Cards {
  width: 100%;
  background: var(--white);
  height: 250px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  transition: 0.4s ease-in cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Cards .icon {
  height: 40px;
  width: 40px;
  margin: 8px 0;
}

.Cards h1 {
  font-family: "Recoleta-Semi";
  color: var(--black);
  font-size: 24px;
  margin: 8px 0;
}

.Cards p {
  font-size: 16px;
  color: var(--grey);
  font-family: "Recoleta-Regular";
  margin: 8px 0;
}
.Cards:hover {
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.13);
}

.Account {
  width: 100%;
  min-height: 500px;
  margin: 0 0 20px 0;
}

.Account .container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: minmax(400px, auto);
  height: 100%;
  width: 100%;
  grid-gap: 40px;
}

.Users_section {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  background: var(--white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 0;
}

.Users_section .container {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Users_section h1 {
  font-size: 18px;
  font-family: "Recoleta-Semi";
}

.Transaction {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  background: var(--white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.Transaction .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Task_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 52px;
  grid-gap: 5px;
  width: 100%;
  border-bottom: 0.5px solid var(--grey);
  padding-bottom: 2px;
  padding-top: 4px;
  justify-content: center;
}

.Task_list .time,
.Task_list .amount {
  font-size: 14px;
  width: 100%;
  font-family: "Recoleta-Semi";
}

.credit {
  color: var(--green);
}

.debit {
  color: var(--red);
}
.Task_list .event,
.Task_list .method {
  font-size: 14px;
  color: var(--grey);
  font-family: "Recoleta-Medium";
}

.Transaction .title {
  width: 100%;
  height: 20px;
}

.Transaction .title h1 {
  height: 100%;
  width: 100%;
  font-size: 21px;
  font-family: "Recoleta-Semi";
  margin: 16px 0;
}
.User {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}
.User img {
  flex: 0 0 20%;
  width: 100%;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.User p {
  flex: 1;
  width: 100%;
  height: 100%;
  font-family: "Recoleta-Semi";
  font-size: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 4px;
}
@media only screen and (max-width: 600px) {
  form input {
    height: 40px;
    width: 200px;
    background-image: url("./images/search.svg");
    background-repeat: no-repeat;
    background-position: top 50% left 5px;
    background-size: 5%;
    padding: 10px 10px 10px 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .Sidebar {
    display: none;
  }
  .Title {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 10px 0;
  }

  .Title h1 {
    font-family: "Recoleta-Semi";
    font-size: 24px;
    margin: 16px 0;
  }
  .Card .container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(250px, auto);
  }

  .Account .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-auto-rows: minmax(200px, auto); */
    grid-template-rows: minmax(20px, auto);
    height: 100%;
    width: 100%;
    grid-gap: 30px;
    padding: 0 0 20px 0;
  }
}
